.pagecontainer {
  margin: auto;
  width: 100vw;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;}

.left {
  display: block;
  margin-left: 0%;
  margin-right: auto;
  width: 100%;
}

header {
  background: #FBDCA3;
  padding-top: 1rem;
  padding-bottom: .001rem;
  text-align: center;
  color: #C57B57;

}
/*Image*/
img{
  width: 100%;
  padding: inherit;
}

/*Link Colors*/
a:active {
    color: #FBDCA3;
}


/*Nav Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C57B57;
}

li {
  float: left;
  text-align: center;
  width: 25%;
}

li a {
    display: block;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*------------*/

.container {

  max-width: 80vw;
  margin: auto;
}

section {
  background-color: #9fbd5e;

}

/*This is the container div where you declare CSS grid display
and set up how many columns and rows are needed for the image grid.
You could then go on to position each div on the grid though if
they are equidistant it is not necessary.
fr is a fractional, scalable unit for relative portions of the page,
but you can use other units like pixels too*/

.image-container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
  max-width: 60vw;
  margin: auto;
  background: green;

}

/*Footer*/
footer {
  background: #C57B57 ;
  padding-top: .01rem;
  padding-bottom: 2rem;
  text-align: center;
  color: #FFFFFF;
}

footer a:link {
    color: #FBDCA3;
}

footer a:visited {
    color: #FBDCA3;
}

/*Typography*/

body {
font-family: 'Montserrat', sans-serif;
font-size: 100%;  /* 16px, sets the font-size baseline */}
h1 { font-family: 'Amatic SC', cursive; font-size: 5em;}
h2 { font-family: 'Amatic SC', cursive; font-size: 1.75em; /* 28px/16px*/}
li { font-family: 'Amatic SC', cursive; font-size: 2.3em;}
p { font-family: 'Montserrat', sans-serif; font-size: 1em;}
